<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center">Variant back in stock</h1>
      <P>Dear <%= @email %>,
        <%= params[:variant] %>is now back in stock for ordering. Quantities may be limited. Please click on the product link below if you would like to place an order.</p>
    </div>
  </div>
</div>
