<div class="mb-2 mt-3 add-to-cart-form-general-availability--danger">
  <span class="text-danger"> You are already subscribed to receive notifications for this product when it becomes available.</span>
</div>